.z-5{
    z-index: 5;
}

.z-10{
    z-index: 10;
}

.z-15{
    z-index: 15;
}

body.no-scroll {
    overflow: hidden;
}

.loading-screen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    pointer-events: none;
    overflow: hidden;
    background: #7e8a74;
}


.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 50px;
    transform: translate(-50%,-50%);
    display: flex;
    background-color: rgb(80,80,80);
}

.loader-1{
    position: relative;
    background: #fff;
    width: 200px;
}

.loader-2{
    position: relative;
    background: #fff;
    width: 100px;
}

.bar{
    height: 50px;
}

.website-cotent{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    position: relative;
    width: max-content;
    height: max-content;
}

.h1{
    display: flex;
}



.header .h1 h1{
    text-align: center;
    position: relative;
    top: 80px;
    margin: 0 10px;
    text-transform: uppercase;
    font-weight: 400;
}

